QWidget {
    background-color: #2b2b2b;
    color: white;
    font-family: "Segoe UI";
    font-size: 13px;
}

QPushButton {
    background-color: #444444;
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #666666;
}

QPushButton:pressed {
    background-color: #333333;
}

QListWidget {
    background-color: #3a3a3a;
    border-radius: 10px;
}

QSlider::groove:horizontal {
    height: 6px;
    background: #555555;
    border-radius: 3px;
}

QSlider::handle:horizontal {
    background: #aaaaaa;
    width: 14px;
    border-radius: 7px;
}