QWidget {
    background-color: #fff0f5;
    color: #333333;
    font-family: "Segoe UI";
    font-size: 13px;
}

QPushButton {
    background-color: #ff7aa2;
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-weight: bold;
    border: 2px solid white;
}

QPushButton:hover {
    background-color: #ff95b5;
}

QPushButton:pressed {
    background-color: #e85f89;
}

QListWidget {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

QSlider::groove:horizontal {
    height: 6px;
    background: #ffc0cb;
    border-radius: 3px;
}

QSlider::handle:horizontal {
    background: #ff7aa2;
    width: 14px;
    border-radius: 7px;
}